*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
**/build/
.externalNativeBuild
.cxx
local.properties
.kotlin

# IDE / tooling / user data
.idea/
.mdroid/
xcuserdata/
